@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

body {
  font-family: "Oswald", sans-serif;
}

/* #cards, #card, .poster, .title > div, .price, .price > div, .rating, button, button > img {
    border: 1px solid orange;
} */

#cards {
  width: 1000px;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#card {
  width: 300px;
  height: 675px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: 1s;
}
#card:hover {
  box-shadow: 0 0 15px 10px aqua;
  transition: 1s;
}

.poster {
  width: 280px;
  height: 420px;
  margin: 10px 0;
}
.poster img:nth-child(2) {
  position: relative;
  top: -110px;
  left: 10px;
}
.poster img:nth-child(3) {
  position: relative;
  top: -320px;
  left: -5px;
}

.title {
  width: 280px;
  height: 75px;
  color: #616161;
  font-size: 30px;
  line-height: 0.9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.price {
  width: 280px;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
}
.price div {
  display: flex;
  align-items: center;
}
.price div:nth-child(1) {
  font-size: 30px;
  color: #232323;
  font-weight: 600;
}
.price div:nth-child(2) {
  font-size: 19px;
  color: #868282;
  font-weight: 600;
  text-decoration: line-through;
}

/* Стили для звёздочек */
.rating {
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.material-icons {
  color: #ffcf00;
  font-size: 32px;
}

.order {
  width: 280px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Устанавливаем правило для смены цвета кнопки */
@keyframes hue {
  from {
    filter: hue-rotate(0deg); /* от */
  }
  to {
    filter: hue-rotate(-360deg); /* до */
  }
}
.hue {
  animation: hue 10s infinite linear; /* свойство animation меняющее один градиент-цвет на другой в течении 10 секунд,
                                        и так бесконечно */
}
